.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 16px 48px;
}

@media (max-width: 394px) {
  .containerHeader {
    padding: 16px;
  }
}

.logo {
  background-color: var(--primary-color);
  padding: 4px;
}

.link {
  display: grid;
}

.containerFav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.totalFav {
  color: var(--background-color);
}

.containerChildren {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 48px;
}

@media (max-width: 394px) {
  .containerChildren {
    padding: 0px 16px;
  }
}