.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 52px 48px;
  gap: 32px;
}

@media (max-width: 560px) {
  .container {
    padding: 52px 16px;
  }
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}