.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: flex-end;
}

.corner {
  bottom: 0;
  right: 0;
  width: var(--width-corner);
  height: var(--height-corner);
  background-color: var(--secondary-color);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.corner:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--width-corner);
  height: var(--height-corner);
  background-color: var(--background-color);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}