.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 2%;
}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comic {
  display: flex;
  width: 100%;
  flex-direction: row;
  overflow: auto;
  gap: 20px;
  align-items: start;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) white;
  padding-bottom: 16px;
}

.cardComic {
  width: 170px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: var(--font-weight-500);
}

@media (min-width: 1280px) {
  .container {
    padding: 4% 25%;
  }
}

@media (max-width: 560px) {
  .container {
    padding: 10% 1%;
    gap: 10px;
  }

  .loader {
    height: 120px;
  }
}