.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 52px 0px;
  gap: 64px;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media (min-width: 834px) {
  .characters {
    justify-content: flex-start;
  }
}